* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
}

.top {
  height: 600px;
  width: 100%;
  background-color: black;
  /* display: flex; */
  justify-content: flex-start;
  align-items: center;
  
  /* opacity: 1; */
  position: relative;
  margin-bottom: 20px;
}
.top-wrapper {
  width: 7.5%;
}

.top-wrapper__ttl {
  width: 5.5%;
  color: rgba(255,255,255,1);
  text-align: left;
  font-family: BIZ UDGothic;
  font-weight: 100;
  font-size: 64px;
  padding-top: 50px;
}

.top-wrapper__list{
  display: table;
  height: 500px;
  margin: auto;
}


.top-wrapper__list img{
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;}

.txt {
  width: 500px;
  display: table-cell;
  vertical-align: middle;
  height: 80%;
  color: rgba(255,255,255,1);
  text-align: left;
  margin-left: 5%;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  margin-right: 20px;
  line-height: 45px;
}



.concept {
  width: 1600px;
  height: 955px;
  /* background: rgba(255,255,255,1); */
  opacity: 1;
  margin: 0 auto;
  position: relative;
  text-align: center;
  /* top: 1024px; */
  /* left: 0px; */
  /* overflow: hidden; */
  /* float: right; */
}

.concept-wrapper{
  position: absolute;
  /* position: fixed; */
  width:1600px;
  height: 955px;

  bottom: 20px;
  margin: 0 auto;
  padding-top: 50px;
  /* text-align: center; */
  /* top: 50%;
  
  transform: translate(-50%,-50%); */
}

.point {
  width: 900px;
  color: rgba(0,0,0,1);
  position: absolute;
  right: 0;
  left: 0;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 48px;
  opacity: 1;
  margin: auto;
}

.txt1 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 183px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  
}
.txt2 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 226px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.txt3 {
  width: 24px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 466px;
  left: 268px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.txt4 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 762px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  line-height: 40px;

}


.pic1 {
  width: 636px;
  height: 322px;
  background: url(../images/Rectangle\ 2.png);
  opacity: 1;
  position: absolute;
  top: 355px;
  left: 607px;
  overflow: hidden;
}


.pic2 {
  width: 338px;
  height: 189px;
  background: url(../images/Rectangle\ 1.png);
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 186px;
  overflow: hidden;
}

.pic3 {
  width: 309px;
  height: 91px;
  background: url(../images/Rectangle\ 5.png);
  opacity: 1;
  position: absolute;
  top: 748px;
  left: 888px;
  overflow: hidden;
}
.pic4 {
  width: 544px;
  height: 271px;
  background: url(../images/Rectangle\ 3.png);
  opacity: 1;
  position: absolute;
  top: 628px;
  left: 381px;
  overflow: hidden;
}
.pic5 {
  width: 173px;
  height: 102px;
  background: url(../images/Rectangle\ 4.png);
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 434px;
  overflow: hidden;
}

.about {
  display: block;
  width: 100%;
  /* height: 508px; */
  background: url(../images/Desktop\ -\ 3.png) no-repeat;
  background-size: cover;
  opacity: 1;
  /* align-items: center; */
  position: relative;
  /* top: 1979px; */
  overflow: hidden;
  padding-bottom: 3%;
}
.names {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about1 {
 
  color: rgba(255,255,255,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  /* text-align: center; */
  margin-bottom: 10px;
}
.about2 {
  
  color: rgba(255,255,255,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  /* text-align: center; */
  margin-bottom: 10px;
}
.about3 {
  
  color: rgba(255,255,255,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  /* text-align: center; */
  margin-bottom: 10px;
}

.big {
  width: 450px;
  color: rgba(255,255,255,1);
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 247px;
  left: 668px; */
  font-family: HGSeikaishotaiPRO;
  font-weight: bold;
  font-size: 24px;
  opacity: 1;
  margin: auto;
  padding: 50px 0;
}



.v28_7 {
  /* width: 211px; */
  color: rgba(255,255,255,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 48px;
  opacity: 1;
  /* transform: translate(-50%,-50%); */
}


.menu {
  max-width: 1200px;
  height: 950px;
  /* background-color: #fff; */
  text-align: center;
  margin: auto;
}

.v22_46{
  color: rgba(27,15,10,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 48px;
  opacity: 1;
  text-align: center;
  padding: 50px 0;
}

ul{
  max-width: 810px;
  text-align: center;
  background-color: #333;
}

ul li{
  display: flex;
  align-items: center;
}
/* 
ul li img{
  vertical-align: bottom;
} */

.ul_list{
  width: 810px;
  background-color: rgb(137, 132, 132);
  margin: auto;
}

ul li .photo ,
ul li .text {
  width: 50%;
  box-sizing: border-box;

}

ul li .text{
  font-family: HGSeikaishotaiPRO;
  font-size: 24px;
}

ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.news {
  width: 100%;
  height: 850px;
  background: rgba(27,15,10,1);
  opacity: 1;
  position: relative;
  /* top: 3507px; */
  left: 0px;
  overflow: hidden;
}
.v20_13 {
  display: block;
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 229px;
  left: 77px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;

}
.v20_14 {
  display: block;
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 314px;
  left: 77px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v20_15 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 394px;
  left: 77px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v20_16 {
  width: 300px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 466px;
  left: 77px;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}


.name {
  color: #fff;
  max-width: 100%;
}
.block1 {
  display: block;
  width: 40%;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 213px;
  margin-left: 40%;
  overflow: hidden;
  padding: 10px;
}

.v20_20 {
  width: 129px;
  color: rgba(27,15,10,1);
  background-color: gray;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v21_3 {
  width: 312px;
  color: rgba(0,0,0,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  margin: auto;
}

.block2 {
  display: block;
  width: 40%;
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 368px;
  margin-left: 40%;
  overflow: hidden;
  padding: 10px;
}

.v20_21 {
  color: rgba(0,0,0,1);
  background-color: gray;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v21_4 {
  width: 240px;
  color: rgba(0,0,0,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  margin: auto;
}


.block3 {
  display: block;
  width: 40%;
  /* margin: 0 auto; */
  height: 90px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  padding: 10px;
  top: 523px;
  margin-left: 40%;
  /* left: 448px; */
  overflow: hidden;
}


.v20_22 {
  width: 103px;
  color: rgba(0,0,0,1);
  /* position: absolute; */
  background-color: gray;
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v21_5 {
  width: 216px;
  color: rgba(0,0,0,1);
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 24px;
  opacity: 1;
  margin: auto;
}






.news__title {
  /* width: 143px; */
  color: rgba(255,255,255,1);
  /* position: absolute; */
  /* top: 66px;
  left: 649px; */
  font-family: HGSeikaishotaiPRO;
  font-weight: 100;
  font-size: 48px;
  opacity: 1;
  text-align: center;
  padding: 50px 0;
}

.ques{
position: relative;

}
.ques img {
  width: 100%;
  height: auto;
  
}

.ques h1{
  position: absolute;
  font-family: HGSeikaishotaiPRO;
  top: 10%;
  left: 50%;
  font-size: 48px;
  color: #fff;
  transform: translate(-50%,-50%);
  padding: 50px 0;
}

.v8_2 {
  width: 288px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 174px;
  left: 576px;
  font-family: HGSKyokashotai;
  font-weight: 100;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}







.v8_22{
  max-width: 100%;
  height: auto;
  background-image: url(../images/Desktop\ -\ 6.png);
  /* background-size: 300%; */
  text-align: center;
  padding: 80px 0;

}

.v8_22 img{
  width: 100px;
  height: auto;
}
  

  .v8_25{
    /* width: 104px; */
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-family: HGSeikaishotaiPRO;
    font-weight: 100;
    font-size: 24px;
    /* opacity: 1;
    text-align: left; */
  }